[project]
	description = Repository to test git and gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bartosz Sakowicz (bsakowicz)
[access "refs/for/refs/*"]
	read = group user/Bartosz Sakowicz (bsakowicz)
	push = group user/Bartosz Sakowicz (bsakowicz)
	label-Code-Review = -2..+2 group user/Bartosz Sakowicz (bsakowicz)
	label-Verified = -1..+1 group user/Bartosz Sakowicz (bsakowicz)
	rebase = group user/Bartosz Sakowicz (bsakowicz)
	removeReviewer = group user/Bartosz Sakowicz (bsakowicz)
	submit = group user/Bartosz Sakowicz (bsakowicz)
[access "refs/heads/*"]
	read = group user/Bartosz Sakowicz (bsakowicz)
	create = group user/Bartosz Sakowicz (bsakowicz)
	push = +force group user/Bartosz Sakowicz (bsakowicz)
	pushMerge = group user/Bartosz Sakowicz (bsakowicz)
[access "refs/tags/*"]
	push = group user/Bartosz Sakowicz (bsakowicz)
	push = +force group user/Bartosz Sakowicz (bsakowicz)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
